{{#if removedUser}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  User has been removed.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<div class="row">
  <div class="col-6">
    <h2></h2>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <a href="/adduser" type="button" class="btn btn-primary align-self-center">+ Add Employee</a>
  </div>
</div>

<table class="table table-bordered">
  <caption>
    Employee information
  </caption>
  
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Role</th>
      <th scope="col">Action</th>
    </tr>
  </thead>

  <tbody>
    {{#each rows}}
    <tr>
      <td data-cell="#">{{this.id}}</td>
      <td data-cell="First name:">{{this.first_name}}</td>
      <td data-cell="Last name:">{{this.last_name}}</td>
      <td data-cell="Email:">{{this.email}}</td>
      <td data-cell="Phone:">{{this.phone}}</td>
      <td data-cell="Role:">{{this.role}}</td>
      <td data-cell="" class="action_td">      
          <a href="/viewuser/{{this.id}}" class="btn update btn_update">
            <img src="images/eye-2.svg" alt="view">
          </a>

          <a href="/edituser/{{this.id}}" class="btn update btn_update">
              <img src="images/pencil-solid.svg" alt="delete">
          </a>

          <a href="/{{this.id}}" class="btn border-shadow delete" data-id>
              <span class="text-gradient"><img src="images/trash-can-solid.svg" alt="delete"></span>
          </a>
        
    </tr>
    {{/each}}

  </tbody>
</table>